@import "../../../../../core/styles/variables.scss";

.protocols{
    .title{
        font-size: 20px;
        font-weight: $bold;
    }

    span{
        font-size: $semi-bold;
    }

    .protocol-table{
        table, th, td{
            border: 1px solid $light-gray;
        }
    }
}