@import "../../../../../core/styles/variables.scss";

.protocols{
    .title{
        font-size: 20px;
        font-weight: $bold;
    }

    span{
        font-size: $semi-bold;
    }

    .protocol-table{
        table{
            th{
                background-color: $secondary-bg;
                vertical-align: middle;
            }
    
            tr{
                vertical-align: middle;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}