@import "../../../../../core/styles/variables.scss";

.ews-table{
    .title{
        font-size: 20px;
        font-weight: $bold;
    }

    span{
        font-size: $semi-bold;
    }

    .vsign-table{
        table, th, td{
            border: 1px solid $light-gray;
        }
    }

    .footer-sticker{
        position: absolute;
        bottom: 15%;
        left: 35%;
        overflow: hidden;

        img{
            height: 60px;
        }
    }
}

@media screen and (max-width: 853px) {
    div.ews-table {
        .title {
            font-size: 18px;
        }

        .footer-sticker {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    div.ews-table {
        .title {
            font-size: 16px;
        }

        .footer-sticker {
            display: none;
        }
    }
}