@import "../../../../../core/styles/variables.scss";

.ews-table{
    .title{
        font-size: 20px;
        font-weight: $bold;
    }

    span{
        font-size: $semi-bold;
    }

    .vsign-table{
        table, th, td{
            border: 1px solid $light-gray;
        }
    }

    .footer-sticker{
        position: absolute;
        bottom: 15%;
        left: 35%;

        img{
            height: 60px;
        }
    }
}

@media screen and (max-width: 853px) {
    div.ews-table {
        .title {
            font-size: 18px;
        }

        .footer-sticker {
            left: 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    div.ews-table {
        .title {
            font-size: 16px;
        }

        .footer-sticker {
            left: 10%;

            img {
                height: 30px;
            }
        }
    }
}

@media screen and (max-height: 1200px) {
    div.ews-table {
        .footer-sticker {
            bottom: 30%;
        }
    }
}

@media screen and (max-height: 920px) {
    div.ews-table {
        .footer-sticker {
            bottom: 25%;
        }
    }
}

@media screen and (max-height: 670px) {
    div.ews-table {
        .footer-sticker {
            bottom: 15%;
        }
    }
}