@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: "Open Sans", sans-serif;
  background-color: $main-bg;
  color: $text-dark;
  font-weight: $regular;
  height: 100vh;
}

.sidebar-container{
  position: fixed;
  top: 0;
  left: -17vw;
  width: 17vw;
  height: 100%;
  background-color: $secondary-bg;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.sidebar-open {
  left: 0;
}

.btn-toggler {
  position: absolute;
  top: 2%;
  left: 1vw;
  visibility: hidden;
  background-color: $primary;
  transition: left 0.3s ease-in-out;
  z-index: 1;

  .fa {
    color: white;
    font-size: 16px;
  }

  &:hover {
    background-color: #168d56;
  }
}

.btn-open {
  visibility: visible;
  left: 18vw;
}

.content-container {
  width: 100%;
}

.content-open {
  margin-left: 17vw;
}

@media screen and (max-width: 920px) {
  .sidebar-container {
    width: 24vw;
  }

  .content-container {
    margin-left: 24vw;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 820px) {
  .sidebar-container {
    left: 0;
    width: 24vw;
  }

  .sidebar-open {
    left: -24vw;
  }

  .content-open {
    margin-left: 0;
  }

  .btn-toggler {
    visibility: visible;
    left: 2vw;
  }

  .btn-open {
    left: 26vw;
  }
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    left: 0;
    width: 100%;
  }

  .sidebar-open {
    left: -100vw;
  }

  .content-open {
    margin-left: 0;
  }

  .btn-toggler {
    visibility: visible;
    left: 3.5vw;
  }

  .btn-open {
    right: 3.5vw;
    left: 87%;
  }
}