// GENERAL
$primary: #1EB76F;
$error: #FF6757;
$gray: #7e7e7e;
$light-gray: #cccccc;

// BACKGROUNDS
$main-bg: #ffff;
$secondary-bg: #E6F6EF;
$menu-bg: #F1FFF9;

// TEXTS
$text-dark: #093621;
$text-light: #ffff;

// FONT WEIGHT
$regular: 500;
$bold: 700;
$semi-bold: 600;