@import "../../../../../core/styles/variables.scss";

.update_score{
    margin-top: 12px;

    .title{
        font-size: 20px;
        font-weight: $bold;
    }

    .label{
        font-weight: $bold;
        font-size: 13px;
    }

    .btn-success{
        width: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $primary;
        border: $primary 1px solid;
        border-radius: 8px;
        color: $text-light;
        font-weight: $semi-bold;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-30%);
        transform: translate(-30%); 

        &:hover{
            background-color: $main-bg;
            color: $primary;
        }

        &:active{
            box-shadow: 2px 3px $light-gray;
        }
    }
}

@media screen and (max-width: 920px) {
    div.update_score {
        .title {
            font-size: 18px;
        }

        .btn-success {
            width: 40%;
            -ms-transform: translate(-30%);
            transform: translate(-30%); 
        }
    }
}

@media screen and (max-width: 820px) {
    div.update_score {
        .btn-success {
            -ms-transform: translate(-50%);
            transform: translate(-50%); 
        }
    }
}

@media screen and (max-width: 600px) {
    div.update_score {
        .title {
            font-size: 16px;
        }

        .btn-success {
            width: 60%;
            -ms-transform: translate(-50%);
            transform: translate(-50%); 
        }
    }
}